<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "isPartOf": {
      "@id": "{{ meta.url }}#website"
    },
    "@id": "{{ page.url | url | absoluteUrl(meta.url) }}",
    "headline": "{{ title or meta.siteName }}",
    "description": "{{ discover.description or description or meta.siteDescription }}",
    "image": "{% if discover.image %}{{ discover.image | url | absoluteUrl(meta.url) }}{% else %}{{ meta.opengraph_default | url | absoluteUrl(meta.url) }}{% endif %}",
    "inLanguage": "{{ meta.locale }}",
    "publisher": {
      "@type": "{{ meta.siteType }}",
      "name": "{{ meta.author.name }}",
      "url": "{{ '/' | url | absoluteUrl(meta.url) }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ meta.author.name }}"
    },
    "datePublished": "{{ date | toIsoString }}"
  }
</script>
