---
layout: base
permalink: /index.html
title: 'J[D)B'
description: 'Blog personal en construcción.'
---

<div class="wrapper">
  <header class="full | banner section">
    <div class="banner__bg">
      <div class="section__inner flow region">
        <h1 class="banner__title text-center">{{ title }}</h1>
      </div>
    </div>
  </header>

  <article class="full | region">
    <div class="prose wrapper flow">
      <h2 id="an-eleventy-starter" class="text-center">Página en construcción</h2>
    </div>
  </article>
</div>
